<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link rel="stylesheet" th:href="@{/style.css}"  type="text/css">
</head>
<body>
<h1><a th:href="@{/departments}">An overview of our departments</a></h1>
<table>
    <tr>
        <th th:text="ID"/>
        <th th:text="Name"/>
        <th th:text="Job"/>
        <th th:text="Manager"/>
        <th th:text="Hiredate"/>
        <th th:text="Salary"/>
        <th th:text="Commission"/>
        <th th:text="Dept.No."/>
    </tr>

    <tr
            th:each="employee : ${employees}">
        <td th:text="${employee.getEID()}"></td>
        <td th:text="${employee.getName()}"></td>
        <td th:text="${employee.getJob()}"></td>
        <td th:text="${employee.getManager()}"></td>
        <td th:text="${employee.getHireDate()}"></td>
        <td th:text="${employee.getSalary()}"></td>
        <td th:text="${employee.getCommission()}"></td>
        <td th:text="${employee.getDepartmentNumber()}"></td>
    </tr>
</table>

</body>
</html>
